<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	type="text/css"></link>
<link rel="stylesheet" href="/resources/css/creatMember.css"></link>
<link rel="stylesheet" href="/resources/css/creatMember1.css"></link>
<title>Creation Membre</title>
<meta name="description" content="Creatio d'un nouveau membre"></meta>
</head>
<body>
	<br></br>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label text-left">Pseudo :</label> <input
							type="text" name="Pseudo" class="form-control ml-auto w-50"
							placeholder="Pseudo"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Nom :</label> <input type="text"
							name="Nom" class="form-control ml-auto w-50" placeholder="Nom"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Prenom :</label> <input
							type="text" name="Prenom" class="form-control ml-auto w-50"
							placeholder="Prenom"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Email :</label> <input
							type="email" name="email" class="form-control ml-auto w-50"
							placeholder="Email"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Mot de passe :</label> <input
							type="password" name="Password" class="form-control ml-auto w-50"
							placeholder="Mot de passe"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Confirmation du mot de
							passe :</label> <input type="password" name="ConfirmationPassword"
							class="form-control ml-auto w-50" placeholder="Mot de passe"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Age :</label> <input
							type="number" name="Age" class="form-control ml-auto w-50"
							placeholder="Age"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="p-1 h-75">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" method="post"
						action="https://formspree.io/">
						<label class="form-control-label">Ville :</label> <input
							type="text" name="Ville" class="form-control ml-auto w-50"
							placeholder="Ville"></input>
					</form>
				</div>
			</div>
			<br></br> <br></br>
			<div class="row border border-dark">
				<div class="col-md-3">
					<img class="img-fluid d-block w-25 mx-auto py-2 rounded-circle"
						src="resources/img/Theatres.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/arbre.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 ml-auto rounded-circle mx-auto"
						src="resources/img/art.jpg"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input>
				</div>
				<div class="col-md-3">
					<img class="img-fluid d-block w-25 rounded-circle mx-auto py-2"
						src="resources/img/cinema.jpg"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/eventail.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/livre.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input>
				</div>
				<div class="col-md-3">
					<img class="img-fluid d-block w-25 rounded-circle mx-auto py-2"
						src="resources/img/carteAJouer.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/sport_real.jpg"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/decouverte.jpg"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input>
				</div>
				<div class="col-md-3">
					<img class="img-fluid d-block w-25 rounded-circle mx-auto py-2"
						src="resources/img/beignade.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/eventail.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input> <br></br> <img
						class="img-fluid d-block w-25 mx-auto rounded-circle"
						src="resources/img/carteAJouer.png"></img> <input id="checkBox"
						type="checkbox" value="on" class="w-100 mx-5"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12  margin-bio">
					<fieldset class="FieldSetBio">
						<legend class="legend">Biographie</legend>
						<textarea class="biographie"
							style="margin-top: 0px; margin-bottom: 0px; height: 108px;"></textarea>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="p-0">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 text-center">
					<div class="col-md-12">
						<a class="btn btn-primary" href="">Valider</a>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
	
</body>

</html>