<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/resources/css/style.css"></link>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/scripts.js"></script>
<link rel="stylesheet" href="/resources/css/readmember.css"></link>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<img src="/resources/img/spider_demon.jpg" id="avatar" />
			</div>
			<div class="col-md-8">
				<div id="blueBorder">
					<h3 class="text-center">Romain Gelly</h3>
					<div id="picto">

						<img src="/resources/img/animaux.png" class="img-circle" /> <img
							src="/resources/img/animaux.png" class="img-circle" /> <img
							src="/resources/img/animaux.png" class="img-circle" /> <img
							class="img-circle" />
					</div>
				</div>
				<p class="lead" id="blueBorder">
					Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
						elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac
					habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum
					velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor.
					Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales
						nisi id sodales. Proin consectetur, nisi id commodo imperdiet,
						metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin
					massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam
						mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod
						ultrices massa, et feugiat ipsum consequat eu.</small>
				</p>
			</div>
			<div class="col-md-2" id="blueBorder">
				<h3 class="text-center">Groupes</h3>
				<ul class="list-unstyled">
					<li>Groupe 1</li>
					<li>Groupe 2</li>
					<li>Groupe 3</li>
					<li>Groupe 4</li>
					<li>Groupe 5</li>
					<li>Groupe 6</li>
					<li>Groupe 7</li>
					<li>Groupe 8</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10" id="blueBorder">
				<p>
					Lorem ipsum dolor sit amet, <strong>consectetur adipiscing
						elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac
					habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum
					velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor.
					Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales
						nisi id sodales. Proin consectetur, nisi id commodo imperdiet,
						metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin
					massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam
						mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod
						ultrices massa, et feugiat ipsum consequat eu.</small>
				</p>
			</div>
			<div class="col-md-2">

				<button type="button" class="btn btn-default btn-block">
					Inviter</button>
				<button type="button" class="btn btn-default btn-block">
					Modifier</button>
			</div>
		</div>
	</div>
</body>
</html>