.biographie{
	width:100%;
	height:150px;
}

.margin-bio{
	padding:0px;
}
.legend{
	text-align: center;
}
#avatar{
	background-color: rgba(0, 0, 0, 0);
}
.img-circle {
	border: 2px solid #7fdeff;
	height: 50px;
	width: 50px;
	background-color: white;
	border-radius: 50%;
}