@charset "ISO-8859-1";

#blueBorder {
	border: 2px solid #7fdeff;
	border-radius: 20px;
	background: #907ad6;
	margin-bottom: 10px;
	box-shadow: 8px 8px 12px #aaa;
}

textarea{
	width: -webkit-fill-available;
}
