body {
	
}

.img-circle {
	border: 2px solid #7fdeff;
	height: 50px;
	width: 50px;
	background-color: white;
	
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	width: auto;
}

#blueBorder {
	border: 2px solid #7fdeff;
	border-radius: 20px;
	background: #907ad6;
	margin-bottom: 10px;
	box-shadow: 8px 8px 12px #aaa;
}

h3 {
	color: rgb(127, 222, 255);
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.btn {
	margin-bottom: 10px;
	border: 2px solid #7fdeff;
	background: #2c2a4a;
	color: #fff;
	border-radius: 20px;
	box-shadow: 8px 8px 12px #aaa;
}
#picto{
	display: flex;
	justify-content: center;
}

.btn-default{
	background: #2c2a4a;
}
ul{
	display: flex;
    flex-direction: column;
}
#avatar{
	width: -webkit-fill-available;
	margin-bottom: 10px;
	box-shadow: 8px 8px 12px #aaa;
	max-height: 300px;
}
#picto{
	display: flex;
    justify-content: space-around;
	margin-bottom: 10px;
}
#pictos{
	display: flex;
    justify-content: space-around;
}
.lead{
	height: 170px;
}
#second{
	margin-top: 20px;
}
body{
	color: white;
}