<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>POPOUT Connexion</title>
<link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/resources/css/style.css"></link>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/scripts.js"></script>
 
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Identifiant
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Mot de passe
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						
						
						<button type="submit" class="btn btn-default btn-block">
							Entrez !
						</button>
						<a><h6>Mot de passe oublié</h6></a>
					</form>
					<div class="row">
						<div class="col-md-12">
							 
							<button type="button" class="btn btn-default btn-block">
								Inscription ! C'est gratuit :)
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
</body>
</html>