<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>POPOUT Read Member</title>
<link rel="stylesheet" href="/resources/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/resources/css/style.css"></link>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/scripts.js"></script>
<link rel="stylesheet" href="/resources/css/readmember.css"></link>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<img src="/resources/img/spider_demon.jpg" id="avatar" />
			</div>
			<div id="blueBorder" class="col-md-8">
				<h3 class="text-center">Pseudo à insérer</h3>
				<div class="row">
					<div class="col-md-3" id="picto">
						<img src="/resources/img/animaux.png" class="img-circle" />
					</div>
					<div class="col-md-3" id="picto">
						<img src="/resources/img/arbre.png" class="img-circle" />
					</div>
					<div class="col-md-3" id="picto">
						<img src="/resources/img/art.jpg" class="img-circle" />
					</div>
					<div class="col-md-3" id="picto">
						<img src="/resources/img/beignade.png" class="img-circle" />
					</div>
				</div>
				<p class="text-left lead">Paragraphe de description LIGHT</p>
				<p>Paragraphe description</p>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div id="blueBorder" class="col-md-12">
						<h3 class="text-center">Groupes</h3>
						<ul class="list-unstyled list-inline">
							<li>Groupe 1</li>
							<li>Groupe 2</li>
							<li>Groupe 3</li>
							<li>Groupe 4</li>
							<li>Groupe 5</li>
							<li>Groupe 6</li>
							<li>Groupe 7</li>
							<li>Groupe 8</li>
							
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<button type="button" class="btn btn-default btn-block">
							Inviter</button>
						<button type="button" class="btn btn-default btn-block">
							Modifier</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Integer posuere erat a ante.</p>
					<small>Someone famous <cite>Source Title</cite></small>
				</blockquote>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Integer posuere erat a ante.</p>
					<small>Someone famous <cite>Source Title</cite></small>
				</blockquote>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Integer posuere erat a ante.</p>
					<small>Someone famous <cite>Source Title</cite></small>
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>